* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: "Zen Dots", cursive; }

.main__container {
  width: 95rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1; }

.main__text-container {
  width: 100%;
  font-size: 2rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2; }

.main__quotemark {
  display: inline;
  font-size: 4rem; }

.main__quote {
  display: inline;
  padding-bottom: 2rem; }

.main__author {
  align-self: flex-end; }

.clock {
  display: flex;
  border: 0.2rem solid #fff;
  margin-bottom: 5%;
  font-size: 15rem;
  padding: 2rem 5rem; }
  .clock__half {
    padding-left: 10rem; }

.bookmarks {
  width: 100%;
  height: 15rem;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .bookmarks__item {
    width: 12em;
    height: 9rem;
    border-radius: 3rem;
    border: 1px solid #bdc3c7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s; }
  .bookmarks__item:hover {
    box-shadow: 0 0 1rem #fff;
    transform: translateY(-0.2rem); }
  .bookmarks__image {
    height: 5rem;
    fill: white; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .header__background--image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    pointer-events: none; }
  .header__background--image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(/images/photoOfMe.jpg);
    background-size: cover;
    background-position: 50% 40%;
    box-shadow: inset 0 0 0 2000px rgba(5, 141, 136, 0.5); }
  .header__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .header__heading-text {
      color: #fff;
      font-size: 9rem;
      padding-right: 2rem; }
    .header__heading-logo {
      height: 25rem;
      padding-left: 2rem; }
  .header__navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .header__navigation-item {
      width: 8rem;
      height: 5rem;
      margin: 0 3rem;
      background-color: white;
      border-radius: 20rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header__navigation-svg {
      height: 4rem;
      fill: black; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #fff; }
  .footer__credits-1 {
    display: inline; }
  .footer__credits-2 {
    display: inline; }
  .footer__heart {
    display: inline;
    color: red; }
  .footer__legal-disclosure:link, .footer__legal-disclosure:visited {
    color: red;
    text-decoration: none; }

.legal-disclosure {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .legal-disclosure--content {
    width: 80%;
    padding: 5% 10%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.project {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .project__item {
    width: 10rem;
    height: 5rem;
    background-color: red; }
  .project__background-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    pointer-events: none; }
  .project__background-image {
    background: url("/images/background-image-portfolio.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(128, 128, 128, 0.2);
    overflow: hidden;
    position: absolute;
    z-index: -1; }

.resume {
  width: 100%;
  height: 75vh;
  background-color: red; }
