$color-white-default: #fff;
$color-black-default: #000;

$color-white-background: #eef2e6;

$color-window-header: #1e1e1e;
$color-window-background: #3f4045;
$color-header-dot-red: #f56354;
$color-header-dot-yellow: #fabf2f;
$color-header-dot-green: #29cd3f;

$color-scrollbar-handle: #888;
$color-scrollbar-handle-hover: #555;
