*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}

// Only working in Chrome and Safari
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-window-header;
  border-radius: 0 0 5px 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-scrollbar-handle;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-scrollbar-handle-hover;
}
