@import '../../styles/variables';

.footer {
    font-size: 3.2rem;
    color: $color-white;
    display: flex;
    justify-content: center;
    line-height: 1;
    margin: 50rem 0 5rem 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: $color-primary;
    }

    &__copyright {
        display: inline;
        font-size: 4.2rem;
    }
}
