@import '../../styles/variables';

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $color-white;
    text-align: center;
    width: 80rem;
    margin-bottom: 20rem;

    &__caption {
        font-size: 6rem;
        font-weight: 900;
        color: $color-primary;
    }
    &__technologies-container {
        list-style: none;
        font-weight: 900;
        display: flex;
        justify-content: space-evenly;
        width: 20rem;
    }
    &__technology {
        width: 100%;
    }
    &__technology-svg {
        width: 40px;
        height: 30px;
    }
    &__description {
        font-size: 4rem;
    }
}

.button-container {
    display: flex;
    width: 55rem;
    margin-top: 2rem;
    justify-content: space-evenly;
}
